/* --- COMMON --- */

body {
  height: 100vh;
  overflow: hidden;
  color: #ffffff;
  background: rgb(34, 34, 34);
  background: radial-gradient(circle, rgba(34, 34, 34, 1) 10%, rgba(22, 22, 22, 1) 100%);
}

/* --- MAIN --- */

.main__container {
  width: 1000px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.title {
  margin: 25px 0 20px 0;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: 0.1em;
  background: rgb(255, 221, 221);
  background: linear-gradient(0deg, rgb(255, 236, 236) 0%, rgba(255, 255, 255, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textarea__container {
  height: 200px;
  display: flex;
  justify-content: center;
}

.textarea {
  width: 100%;
  margin: 10px 40px;
  padding: 15px;
  font-size: 1.2rem;
  resize: none;
  color: #ffffff;
  background-color: #222222;
  outline: 2px solid rgba(255, 236, 236, 0.05);
  border: none;
  border-radius: 20px;
  transition: filter 0.2s ease-in-out;
}

.main__keyboard {
  display: grid;
  gap: 10px;
  padding: 20px;
  margin: 20px;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: #323232;
  border-radius: 15px;
  filter: drop-shadow(0 0 0.7rem rgba(0, 0, 0, 0.25));
  user-select: none;
}

.keyboard__row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.keyboard__key {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #212121;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color, filter, transform, 0.15s ease-in-out;
}

.keyboard__key:hover {
  background-color: #303030;
  filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.45));
}

.keyboard__key:active {
  transform: scale(0.94);
  filter: drop-shadow(0 0 0.4rem rgba(0, 0, 0, 0.7));
}

.key__aside {
  position: absolute;
  top: 7px;
  left: 5px;
  font-size: 0.82rem;
  opacity: 0.5;
}

.Tab,
.Delete {
  flex-basis: 80px;
}

.Caps-Lock,
.Enter {
  flex-basis: 112px;
}

.Backspace,
.Shift-Left,
.Shift-Right {
  flex-basis: 124px;
}

.Space {
  flex-basis: 386px;
  background-color: #202020;
}

.Space:active {
  transform: scale(0.98, 0.92);
}

.Backspace,
.Shift-Left,
.Shift-Right,
.Control-Left,
.Control-Right,
.Enter,
.Delete,
.Caps-Lock,
.Tab,
.Meta-Key,
.Alt-Left,
.Alt-Right,
.Arrow-Up,
.Arrow-Down,
.Arrow-Left,
.Arrow-Right {
  background-color: #1b1b1b;
}

.description,
.language {
  text-align: center;
  font-weight: 700;
  background: rgb(255, 236, 236);
  background: linear-gradient(0deg, rgba(255, 236, 236, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  margin-top: 30px;
  font-size: 1.5rem;
}

.language {
  margin-top: 12px;
  font-size: 1.2rem;
}

.language > .ru {
  font-size: 1.05rem;
}

/* --- MODIFIERS --- */

.hidden {
  display: none;
}

.active {
  background-color: #303030;
  transform: scale(0.94);
  filter: drop-shadow(0 0 0.4rem rgba(0, 0, 0, 0.7));
}

.active--space {
  background-color: #303030;
  transform: scale(0.98, 0.92);
  filter: drop-shadow(0 0 0.4rem rgba(0, 0, 0, 0.7));
}

.active--textarea {
  border: none;
  outline: 2px solid rgba(255, 236, 236, 0.15);
  filter: drop-shadow(0 0 0.35rem rgba(255, 236, 236, 0.05));
}
